<div class="table tableStriped">
  <table>
    <thead>
      <tr>
        <th>First Name</th>
        <th>Last name</th>
        <th>Email</th>
        <th>delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of users">
        <td>{{item?.firstName}}</td>
        <td>{{item?.lastName}}</td>
        <td>{{item?.email}}</td>
        <td> <a mat-button color="warn" (click)="delete(item?._id)" *ngIf="auth.getUser()._id !== item?._id">Delete</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>