header {
    width: 100%;
    min-width: 320px;
    background-color: #fff;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e4e0dd;
    box-sizing: border-box;
    padding: 0px 24px;
    grid-area: header;
    overflow: hidden;

    div {
        display: flex;
        justify-content: space-between;
        width: 100%;

        h1 {
            margin-bottom: 0;
        }

        #menu {
            width: auto;

            a {
                color: blue;
                text-decoration: underline;
            }
        }
    }
}

.tableStriped {
    margin: 10px 20px;
    display: flex;
    justify-content: center;
}