<div class="main">
  <div class="panel">
    <h1>Login</h1>
    <form [formGroup]="loginForm">

      <mat-form-field>
        <mat-label>E-Mail</mat-label>
        <input formControlName="email" matInput>
        <mat-error *ngIf="loginForm.get('email').hasError('required')">Please enter email </mat-error>
        <mat-error *ngIf="loginForm.get('email').hasError('pattern')">Please enter valid email </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Password</mat-label>
        <input type="password" formControlName="password" matInput>
        <mat-error *ngIf="loginForm.get('password').hasError('required')">Please enter password </mat-error>
      </mat-form-field>

      <button type="button" (click)="login()" color="primary" mat-raised-button type="button">
        SIGN IN
      </button>
      <a mat-button  routerLink="/register">register</a>
    </form>
  </div>
</div>