<div id="action">
  <button type="button" color="primary" mat-raised-button type="button" routerLink="/add-leave">
    Add leave
  </button>
</div>
<div class="table tableStriped">
  <table>
    <thead>
      <tr>
        <th>Date</th>
        <th>Reason</th>
        <th>Total Days</th>
        <th>delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of leaves">
        <td>
          <ul>
            <li *ngFor="let item of item?.dates">{{item.date}} - {{item?.isFull?'Full leave': 'Half Leave'}}</li>
          </ul>
        </td>
        <td>{{item?.reason}}</td>
        <td>{{item?.noOfDays}}</td>
        <td> <a mat-button color="warn" (click)="delete(item?._id)">Delete</a></td>
      </tr>
    </tbody>
  </table>
</div>