<form [formGroup]="interviewForm">

    <mat-form-field appearance="outline">
        <mat-label>Candidate Name</mat-label>
        <input formControlName="candidateName" matInput onlyNumber type="text">
        <mat-error>Please enter candidate name</mat-error>
    </mat-form-field>

    <div class="technology">
        <div>
            <mat-form-field appearance="outline">
                <mat-label>Technology</mat-label>
                <mat-select formControlName="technology">
                    <mat-option *ngFor="let item of technologyArray" [value]="item?._id">
                        <div class="deleteTechnology">
                            <div>
                                {{item?.technologyName}}
                            </div>
                            <div (click)="deleteTechnology(item?._id)">
                                <mat-icon>delete</mat-icon>
                            </div>
                        </div>
                    </mat-option>
                </mat-select>
                <mat-error>Please enter technology</mat-error>
            </mat-form-field>
        </div>
        <div *ngIf="item?.type != 'view'">
            <button type="button" mat-raised-button color="primary" (click)="addTechnology()">
                <mat-icon aria-hidden="false" aria-label="Example home icon">add</mat-icon>
            </button>
        </div>
    </div>

    <mat-form-field appearance="outline">
        <mat-label>Interview Round</mat-label>
        <mat-select formControlName="interviewRound">
            <mat-option *ngFor="let item of interviewRoundArray" [value]="item">
                {{item}}
            </mat-option>
        </mat-select>
        <mat-error>Please enter interview round</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Experience</mat-label>
        <input formControlName="experience" matInput onlyNumber type="text">
        <mat-error *ngIf="interviewForm.get('experience').hasError('required')">Please enter experience </mat-error>
        <mat-error *ngIf="interviewForm.get('experience').hasError('pattern')">
            Please add valid experience.
        </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Schedule</mat-label>
        <input matInput [ngxMatDatetimePicker]="picker" formControlName="schedule">
        <mat-datepicker-toggle matSuffix [for]="$any(picker)"></mat-datepicker-toggle>
        <ngx-mat-datetime-picker #picker [showSpinners]="true" [showSeconds]="false" [stepHour]="1" [stepMinute]="1"
            [stepSecond]="1" [touchUi]="false" color="primary" [enableMeridian]="true">
        </ngx-mat-datetime-picker>
        <mat-error>
            Please add schedule.
        </mat-error>
    </mat-form-field>
</form>

<div class="footer">
    <button type="button" (click)="cancel()" color="primary" mat-raised-button type="button">
        Cancel
    </button>
    <button *ngIf="item?.type != 'view'" type="button" (click)="save()" color="primary" mat-raised-button type="button">
        Save
    </button>
</div>