.main {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
}

input,
mat-form-field {
    margin-bottom: 10px;
    width: 100%;
}

.technology {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.deleteTechnology {
    display: flex;
    justify-content: space-between;
}

.panel {
    width: 30%;
}